body {
    background-color: #e1f4ef;
    color: #5A7073;
    display: flex;

}

.grid {
    display: grid;
    grid-template-columns: 1 fr 1 fr;
    gap: 10px;
    height: 100vh;  //pour que ça prenne toute la fenêtre
}

img {
    width: 200px;
    border-radius: 10%;
    border: 2px solid #5A7073;

}

h1 {
    font-size: 64px;
    text-align: center;
    display: block;
}

.presentation {
    font-size: 30px;
    text-align: center;
    flex:1;
    padding: 2rem 1.5rem;
    text-align: center;
    
} 

.me {
    grid-column: 1/3;
    padding: 10px;
}