#board {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.slot {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 50%;
  background: lightgray;
}

#colors button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  margin: 5px;
  cursor: pointer;
}
