/* :root {
    --background: #FAF4E8;
    --title: #2E3066;

} */

body {
 background-color: #FAE8EB;
    font-family: Quicksand;
}


@font-face {
    font-family: 'Quicksand';
    src:
        url(quicksand/Quicksand_Book.otf),
        url(quicksand/Quicksand_Bold.otf),
        url(quicksand/Quicksand_Light.otf.woff);
}

.head {
    font-size: 10vh;
    background-color: #f7b18e;
    color: #2E3066;
    text-align: center;
    padding: 30px;
}

.container {
    /*  flex: 1; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 5vh;
    color: #2E3066;
    padding: 20 px;
    height: 50vh;
    flex-shrink: 0;

}

.picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 150px;
    flex-shrink: 0;
    /* empêche Flexbox de rétrécir la div */
    align-self:flex-end;
}

#avatar {
    width: 300px;
    height: auto;
    border-radius: 25%;
    border: solid #BA80B2;
    margin: 20px;

}

.myself {
    width: 450px;
    height: 150px;
    flex-shrink: 0;
    font-size:30px;
    text-align: center;

}

.iam {
font-size: 40px ;

}

.link {
    width: 450px;
    height: 150px;
    flex-shrink: 0;
}